@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "keyframes.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
    box-sizing: border-box;
}

.web{
    background-color: #2d2d2d; 
    color: #fff;
}

.hero-section{
    background: #272727;
}


nav ul {
    position: absolute;
    padding-top: 30px;
    left: 130px;
    display: flex;
    border-left: 5px solid #0673f8;
    z-index: 3;
    animation: left 0.8s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

nav ul li a .active,
nav ul li a:hover {
    color: #66a6f5;
}

.about-me {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,23,80,1) 8%, rgba(49,48,130,1) 27%, rgba(51,50,134,1) 48%, rgba(58,58,149,1) 61%, rgba(22,153,214,1) 81%, rgba(0,212,255,1) 100%);
    clip-path: circle(56.3% at 98% 0);
    animation: fade-in 0.8s ease-in forwards;
    animation-delay: 3.2s;
    opacity: 0;
}

.about-me .content {
    position: relative;
    padding: 100px 250px 100px 150px;
    box-sizing: border-box;
}

.about-me h1 {
    color: #fff;
    font-size: 3.2em;
    font-weight: 600;
    margin-bottom: 16px;
    animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0;
}

.about-me p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 12px;
    animation: left 0.8s ease-in forwards;
    animation-delay: 1.6s;
    opacity: 0;
}

.about-me .email {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin-top: 24px;
    background: rgba(32,104,156,1) 40%;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 10px;
    animation: fade-in 0.8s ease-in forwards;
    animation-delay: 2.4s;
    opacity: 0;
}

.about-me .email svg {
    margin-bottom: 2px;
    margin-right: 4px;
}

.about-me .email:hover {
    background: rgba(34,137,181,1) 56%;
}

.about-me .img-content {
    position: relative;
    padding-right: 100px;
    animation: fade-in 0.8s ease-in forwards;
    animation-delay: 3.8s;
    opacity: 0;
}

.about-me img {
    max-width: 500px;
}

.about-me .media-social {
    position: absolute;
    margin-top: 600px;
    left: 120px;
    display: flex;
    animation: fade-in 0.8s ease-in forwards;
    animation-delay: 2.4s;
    opacity: 0;
}
.about-me .media-social li {
    list-style-type: none;
}
.about-me .media-social li svg {
    margin-right: 30px;
    height: auto;
    width: 24px;
}

.linkedin,
.linkedin:visited,
.instagram,
.instagram:visited,
.github,
.github:visited {
    color: rgb(111, 111, 111);
}

.linkedin:hover,
.instagram:hover,
.github:hover {
    color: rgb(177, 177, 177);
}


#work-experience h1 {
    font-weight: 500;
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

#education h1 {
    font-weight: 500;
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

#education h4 {
    color: rgb(33, 212, 240);
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0px 0px 5px;
}
#education h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 14px 0px 4px 5px;
}
.edu-info {
    border-left: 3px solid rgb(33, 212, 240);
}

#skills h1 {
    font-weight: 500;
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

#contact-me h1 {
    font-weight: 500;
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

footer {
    padding: 24px 0;
    text-align: center;
    background-color: #272727;
    font-size: 16px;
}
footer a,
footer a:hover,
footer a:visited {
    text-decoration: none;
    margin-top: 4px;
    color: rgb(111, 111, 111);
}